@import "tailwindcss";
@import "./theme.css";

body {
  background: var(--color-paper);
  color: var(--color-ink);
  font-family: var(--font-body);
}

h1,
h2,
h3,
.font-display {
  font-family: var(--font-display);
}

html {
  scroll-behavior: smooth;
}
